#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
  .tab-bottom{
      display: flex;
      flex-direction: column-reverse;
  }
  .tab-bottom .v-tabs__slider-wrapper{
      top: 0px;
  }

  .tab-bottom .v-tabs__items{
      flex: 1;
  }