html,
body {
    overscroll-behavior-y: contain;
}
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

html, body, #app{
    height: 100%;
}

.row{
    margin-bottom: 0px;
}

.main-body{
    padding-bottom: 50px;
    height: 100%;
}

.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.tabs-bottom > li > a{
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.tabs-bottom > li > a > span{
    line-height: 20px;
}

.tabs-bottom > .indicator{
    top: 0px;
}

@media(min-width:992px){
    .main-body{
        margin-top: -64px;
        padding-top: 64px;
    }
}